<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Shop_details</title> 
</head> 
<body> 
    <form action='upload' method='post' enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="text" name="shop_name" placeholder="Shop Name"><br>
        <label for="img">Select image:</label>
        <input type="file"  name="product_img" accept="image/*"><br>
        <input type="text" name="shop_address" placeholder="Shop Address"><br>
        <input type="text" name="product_desc" placeholder="Product Description"><br>
        <input type="number" name="product_cost" placeholder="Product Cost"><br>
        <input type="text" name="product_name" placeholder="Product Name"><br>
        <input type="text" name="product_category" placeholder="Product Category"><br>
        
        <input type="submit" value="Upload">
        <div>
            {% for message in messages %}
            <h3> {{message}} </h3>
            {% endfor %}
        </div>
    </form>
</body> 
</html> 